.boys-header-image {
  background-image: url("https://i.ibb.co/Sn9fnFx/eddie-kopp-3-O5-GPc-S3ju-Y-unsplash.jpg");
  background-size: cover;
}

.girls-header-image {
  background-image: url("https://i.ibb.co/7S8DsJx/tanaphong-toochinda-Gag-C07w-Vvck-unsplash.jpg");
  background-size: cover;
}

.all-header-image {
  background-image: url("https://i.ibb.co/yy9fKDD/denisse-leon-Mq-U9j-Oorcn-I-unsplash.jpg");
  background-size: cover;
}

.outofstock {
  opacity: 0.5;
}

.imgC {
  position: relative;
  text-align: center;
  color: black;
  font-size: 15pt;
  font-family: inherit;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price {
  color: red;
  margin-left: 1em;
}
