.outofstock {
  opacity: 0.5;
}

.imgC {
  position: relative;
  text-align: center;
  color: black;
  font-size: 15pt;
  font-family: inherit;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price {
  color: red;
  margin-left: 1em;
}
