/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
  @include ag-theme-alpine();
}
html,
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-form-field {
  width: 100%;
}
.mat-raised-button {
  width: 100%;
}
simple-snack-bar span {
  margin: auto;
  text-align: center;
}
